---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Welcome from "../components/welcome.astro";
import Info from "../components/info.astro";
import Course from "../components/coursestatus.astro";
import Lastcourse from "../components/lastcourse.astro";
import Arrow from "../components/arrow.astro";
import Courses from "../components/courses.astro";
import Learnmore from "../components/learnmore.astro";
import Statistic from "../components/statistic.astro";
---

<Layout title="Dashboard" description="Dashboard responsive">
  <div class="min-h-screen flex flex-row bg-white">
    <section class="ml-5 mt-[2vh] lg:mt-[5vh] w-6rem">
      <Navbar />
    </section>
    <div
      class="flex lg:flex-row flex-col ml-[5rem] md:ml-auto lg:ml-[6rem] mr-auto xl:mr-[7rem] lg:gap-x-[4rem] xl:gap-x-28 xl:ml-[7rem]"
    >
      <section class="mt-[3.5vh]">
        <Welcome />
        <div class="flex flex-row items-start">
          <Lastcourse />
          <Arrow />
        </div>
        <div class="hidden lg:block">
          <Courses />
        </div>
      </section>
      <section class="lg:mt-[3.5vh]">
        <Info />
        <div
          class="mt-4 w-[18.5rem] md:w-[25rem] lg:w-[23rem] xl:w-[25rem] grid grid-cols-2 gap-4"
        >
          <Course quantity={11} status="Completed" />
          <Course quantity={5} status="In progress" />
        </div>
        <div class="lg:hidden block">
          <Courses />
        </div>
          <Statistic />
          <Learnmore />
      </section>
    </div>
  </div>
</Layout>
