---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Welcome from "../components/welcome.astro";
---

<Layout title="Dashboard" description="Dashboard responsive">
  <div class="h-screen grid grid-cols-2 gap-x-[-80rem] bg-white">
    <section class="ml-5 self-center">
      <Navbar />
    </section>
    <div class="grid grid-cols-2 gap-y-0 place-content-start">
      <section
        class="mt-[4vh] md:ml-[-15rem] lg:ml-[-20rem] xl:ml-[-27rem] ml-[-4rem]"
      >
        <Welcome />
		<Welcome />
      </section>
      <section class="mt-[4vh] md:ml-[-4rem] lg:ml-[-12rem] xl:ml-[-15rem] ml-3 mr-3">
        <Welcome />
        <Welcome />
      </section>
    </div>
  </div>
</Layout>
