---
import Arrowleft from "./icons/arrowleft.astro";
import Arrowright from "./icons/arrowright.astro";
---

<div class="grid grid-cols-2 w-[5rem] mt-[3vh] sm:mt-[5vh] gap-2 ml-6 xl:ml-10">
<Arrowleft />
<Arrowright />
</div>