---
import Searchbar from "./searchbar.astro";
import Notification from "./icons/notification.astro";
---

<div class="h-[2rem] relative w-[17.5rem] md:w-[25rem] lg:w-[22rem] mt-5">
  <div class="grid absolute grid-cols-2 gap-x-[5rem] xl:gap-x-[13rem]">
    <Searchbar />
    <div
      class="grid grid-cols-2 place-items-center right-0 "
    >
      <Notification />
      <img
        class="w-8 h-8 rounded-md object-cover ml-4 md:ml-8 xl:ml-20 cursor-pointer"
        src="https://az617363.vo.msecnd.net/imgmodels/models/MD10004603/img_16802fbe0b734ad823abdb346ddaf8248234.jpeg"
        alt=""
      />
    </div>
  </div>
</div>
