---
import Spanish from "./icons/spanish.astro";
---

<div
  class="h-[4rem] relative flex flex-row items-center bg-slate-200 rounded-xl w-[10.5rem] md:w-[18rem] lg:w-[16rem] xl:w-[19rem] mt-4"
>
  <div
    class="w-14 h-14 lg:w-10 xl:w-14 lg:h-10 xl:h-14 bg-white rounded-xl ml-1 flex justify-center items-center"
  >
    <Spanish />
  </div>
  <div>
    <p class="font-extrabold text-sm ml-5 lg:ml-3 xl:ml-5">Spanish B2 <br /></p><p
      class="ml-3 xl:ml-5 text-sm"
    >
      by Luis Rincon
    </p>
  </div>
  <button class="absolute right-[7px] bg-black text-white py-2 px-6 lg:px-4 rounded-lg hidden md:block xl:block">Continue</button>
</div>
