---
import Home from "./icons/home.astro";
import User from "./icons/user.astro";
import Message from "./icons/message.astro";
import Setting from "./icons/setting.astro";
import Logout from "./icons/logout.astro";
---

<div class="w-[4rem] bg-black h-[90vh] fixed z-10 rounded-2xl overflow-x-auto scrollbar-hide">
  <div class="flex justify-between flex-col items-center">
    <section class="pt-6">
      <a href="/" class="text-white font-bold text-2xl font-sans">LR</a>
    </section>
    <section class=" ">
      <a href="/" class="grid place-items-center mt-[18vh] pointer-events-none">
        <p class="fixed pointer-events-none">.</p>
        <Home />
      </a>
      <a href="#" class="grid place-items-center mt-6 pointer-events-none">
        <p class="fixed pointer-events-none">.</p>
        <User />
      </a>
      <a href="#" class="grid place-items-center mt-7 pointer-events-none">
       <!--  <p class="fixed pointer-events-none">.</p>-->
        <Message />
      </a>
      <a href="#" class="grid place-items-center mt-7 pointer-events-none">
        <p class="fixed pointer-events-none">.</p>
        <Setting />
      </a>
    </section>
    <a href="#" class="pointer-events-none mt-[24vh] mb-3">
    <p class="fixed pointer-events-none">.</p>
      <Logout />
    </a>
  </div>
</div>
