---
import Statistic from "./icons/statistic.astro";
---

<div
  class="w-[17.5rem] md:w-[24rem] lg:w-[22rem] xl:w-[24rem] h-[14rem] md:h-[16rem] rounded-xl mt-1 md:mt-7"
>
  <p class="font-black text-lg">Your statistics</p>
  <ul class="flex gap-10 font-bold md:mt-4">
    <li>Learning Hours</li>
    <li class="opacity-60">My Courses</li>
  </ul>
  <div class="bg-slate-200"></div>
  <div class="mt-5">
    <Statistic />
  </div>
</div>
