---
import Avatar from "./icons/avatar.astro";
---

<div class="h-[6.5rem] md:h-[8.5rem] bg-slate-200 rounded-xl w-[17.5rem] md:w-[25rem] lg:w-[23rem] xl:w-[27rem] mt-5">
    <div class="grid grid-cols-2 place-items-center ">
        <section class="relative left-1 md:bottom-3 bottom-7 md:left-5">
            <p class="font-black text-2xl">Hello Luis!</p>
            <p class=""> It's good to see you again.</p>
        </section>
        <section class="relative bottom-9 md:bottom-6 left-0 md:left-5 lg:left-2 xl:left-5"> 
            <Avatar />
        </section>
    </div>
</div>